.ChatRoom {
  .ChatRoomMessagesContainer {
    overflow-y: auto;
  }
  .ChatRoomPost {
    input {
      padding: 10px;
      border: 0px;
      width: 100%;
      font-size: 1.4rem;
      background-color: rgba(0, 0, 0, 0.486);
      color: white;
    }
    input::placeholder {
      color: rgb(131, 148, 180);
    }
  }
}
